.eddnstant-checkout-wrap {
    position: fixed;
    width: 50%;
    right: -50%;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 9999999;
    background: #FFF;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
}

.eddnstant-checkout-wrap.active {
    right: 0;
}

.eddnstant-checkout-inner {
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    padding: 20px;
}

#eddnstant-toggler {
    background: #F5F5F5;
    padding: 17px 2px;
    font-size: 16px;
    color: #272727;
    position: absolute;
    overflow: hidden;
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 70px;
    max-height: 60px;
    top: 50%;
    -webkit-transform: translate(-100%,-50%);
        -ms-transform: translate(-100%,-50%);
            transform: translate(-100%,-50%);
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-align: center;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
}

/* Sticky Basket CSS */
.eddnstant-sticky-cart {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: fixed;
    left: 40px;
    bottom: 40px;
    z-index: 99999997;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,.15) 0px 0px 20px;
            box-shadow: rgba(0,0,0,.15) 0px 0px 20px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.eddnstant-sticky-cart:hover {
    bottom: 45px;
}

.eddnstant-cart-shake {
    -webkit-animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
            animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.eddnstant-icon-cart svg {
    display: block;
}

.eddnstant-sticky-cart .eddnstant_cart_total {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    background: #448FD5;
    color: #FFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
    }
}
/* End Sticky Basket CSS */

/* Close Button CSS */
.eddnstant-close-wrap {
    padding: 10px 20px 0;
    text-align: right;
}

.eddnstant-close {
    display: inline-block;
}

.eddnstant-close svg {
    display: block;
}
/* End Close Button CSS */

/* Scroll Bar CSS */
.eddnstant-checkout-inner::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.eddnstant-checkout-inner::-webkit-scrollbar{
    width: 0px;
    background-color: #F5F5F5;
}

.eddnstant-checkout-inner::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
}
/* End Scroll Bar CSS */

/* Ajax Loader CSS */
span.eddnstant-loader {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 3;
    display:none;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

span.eddnstant-loader svg {
    width: 50px;
    height: 50px;
    fill: #333;
}

.eddnstant-loading + span.eddnstant-loader{
    display:block;
}

.eddnstant-loading {
    position: relative;
    overflow: hidden;
}

.eddnstant-loading:after {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* End Ajax Loader CSS */

/**
 * Responsive CSS
 */
@media (max-width: 767px) {
    .eddnstant-checkout-wrap {
        width: 100%;
        right: -100%;
    }

    .eddnstant-checkout-inner {
        padding: 20px;
    }

    .eddnstant-checkout-wrap.active #eddnstant-toggler {
        -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
                transform: translate(0,-50%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .eddnstant-sticky-cart {
        left: 20px;
        bottom: 20px;
    }

    .eddnstant-sticky-cart:hover {
        bottom: 25px;
    }
}